<p-toast position="top-right"></p-toast>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="login-container card p-4 shadow border-primary" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">LOGIN</h2>

    <form #loginForm="ngForm" novalidate>
      <!-- username Field -->
      <div class="mb-3">
        <label for="username" class="form-label fw-semibold">username</label>
        <input pInputText 
               type="username" 
               id="username" 
               [(ngModel)]="user.username" 
               name="username" 
               placeholder="Enter your username"
               class="form-control border" 
               required 
               maxlength="50"
               #usernameModel="ngModel">
        <small class="text-danger" *ngIf="usernameModel.invalid && (usernameModel.dirty || usernameModel.touched)">
          <span *ngIf="usernameModel.errors?.['required']">username is required.</span>
          <span *ngIf="usernameModel.errors?.['maxlength']">username cannot exceed 50 characters.</span>
        </small>
      </div>

      <!-- Password Field -->
      <div class="mb-3">
        <label for="password" class="form-label fw-semibold">Password</label>
        <p-password type="password" 
                    [(ngModel)]="user.password" 
                    name="password"
                    placeholder="Enter your password" 
                    class=" border"
                    required 
                   
                    [toggleMask]="true" 
                    [feedback]="false"
                    [style]="{'width':'100%'}" 
                    [inputStyle]="{'width':'100%'}" 
                    #passwordModel="ngModel">
        </p-password>
        <small class="text-danger" *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)">
          <span *ngIf="passwordModel.errors?.['required']">Password is required.</span>
         
        </small>
      </div>

      <!-- Login Button -->
      <p-button type="button" pRipple (click)="login(loginForm)"  label="Login" 
                class="w-100 text-center" severity="success">
      </p-button>
    </form>

    <!-- Error Message -->
    <p class="text-danger text-center">{{invalidCredential}}</p>

    <!-- Extra Links -->
    <div class="text-center">
      <div class="d-flex justify-content-center align-items-center gap-2">
        <a routerLink="/forget-pswd" class="text-decoration-none">Forget Password</a>
        <span>|</span>
        <a routerLink="/signup" class="text-decoration-none">Create Account</a>
      </div>
    </div>
  </div>
</div>
